USE StationeryManagementDB;
GO

CREATE TABLE [Person](
	IDNumber VARCHAR(13) PRIMARY KEY,
	FirstName VARCHAR(20) NOT NULL,
	LastName VARCHAR(20) NOT NULL,
	Title VARCHAR(4) DEFAULT 'Mr' NOT NULL,
	DateOfBirth DATE CHECK (DateOfBirth BETWEEN DATEADD(YEAR, -100, DATEADD(HOUR, 2, GETUTCDATE())) AND DATEADD(HOUR, 2, GETUTCDATE())) NOT NULL,
	Gender VARCHAR(6) NOT NULL,
	Country VARCHAR(20) NOT NULL,
	Province VARCHAR(20),
	City VARCHAR(30),
	Street VARCHAR(30),
	PostalCode VARCHAR(10),
	AddressLine VARCHAR(50),
	Email VARCHAR(30),
	CellNumber VARCHAR(10),
	TelNumber VARCHAR(10),
	DateAdded DATETIME DEFAULT DATEADD(HOUR, 2, GETUTCDATE()) NOT NULL
)
GO

CREATE TABLE [User](
	UserID INT IDENTITY PRIMARY KEY,
	PersonID VARCHAR(13) FOREIGN KEY REFERENCES Person(IDNumber) NOT NULL,
	Username VARCHAR(20) UNIQUE NOT NULL,
	[Password] VARCHAR(20) NOT NULL,
	AccountType VARCHAR(50) DEFAULT 'Normal' NOT NULL
)
GO

CREATE TABLE Category(
	CategoryID INT IDENTITY PRIMARY KEY,
	CategoryName VARCHAR(50) UNIQUE NOT NULL,
	[Description] VARCHAR(150)
);

CREATE TABLE Stock(
	StockID INT IDENTITY PRIMARY KEY,
	CategoryID INT FOREIGN KEY REFERENCES Category(CategoryID) NOT NULL,
	ItemName VARCHAR(50) UNIQUE NOT NULL,
	DateAdded DATETIME DEFAULT DATEADD(HOUR, 2, GETUTCDATE()) NOT NULL,
	StockCount INT CHECK(StockCount >= 1) DEFAULT 1 NOT NULL,
	[Status] VARCHAR(20) DEFAULT 'In Stock' NOT NULL
);
GO

GO
CREATE TABLE [Order](
	OrderID INT IDENTITY PRIMARY KEY,
	OrderDate DATETIME DEFAULT DATEADD(HOUR, 2, GETUTCDATE()) NOT NULL,
	ReceiveDate DATETIME,
	[Status] VARCHAR(25) DEFAULT 'Placed' NOT NULL,
	PlacedByEmployee INT FOREIGN KEY REFERENCES [User](UserID) NOT NULL,
	ApprovedByEmployee INT FOREIGN KEY REFERENCES [User](UserID)
);
GO

CREATE TABLE StockOrder(
	OrderID INT FOREIGN KEY REFERENCES [Order](OrderID) NOT NULL,
	StockID INT FOREIGN KEY REFERENCES Stock(StockID) NOT NULL,
	Quantity INT CHECK(Quantity >= 1) DEFAULT 1 NOT NULL,
	PRIMARY KEY(OrderID, StockID)
);
GO